#!/sbin/openrc-run
# Copyright 1999-2018 Gentoo Foundation
# Distributed under the terms of the GNU General Public License v2

: ${LOG_LEVEL:=info}
: ${SVCGROUP:=interlex}
: ${SVCUSER:=interlex}
: ${LOG_LOC:="/var/log/${SVCNAME}"}
: ${PYTHONPATH:=""}
: ${PYONTUTILS_DEVCONFIG:="~/.config/pyontutils/devconfig.yaml"}  # sigh, still needed for now

run_dir=${run_dir:-/run}
LOG="${LOG_LOC}/uri.log"

socket="unix:/run/interlex/socket"

pidfile="${run_dir}/${SVCNAME}/pid"
start_stop_daemon_args="
--group ${SVCGROUP}
--user ${SVCUSER}
--wait 1500
--env DB_HOST=${DB_HOST}
--env DB_PORT=${DB_PORT}
--env INTERLEX_DATABASE=${DATABASE}
--env BROKER_URL=${BROKER_URL}
--env PYTHONPATH=${PYTHONPATH}
--env PYTHONBREAKPOINT=0
--env PYONTUTILS_DEVCONFIG=${PYONTUTILS_DEVCONFIG}
"
command="/usr/bin/python"
command_args="
-m gunicorn
--bind ${socket}
--daemon
--pid ${pidfile}
--name interlex-uri
--workers 8
--worker-class gevent
--timeout 30
--group ${SVCGROUP}
--user ${SVCUSER}
--log-level ${LOG_LEVEL}
--log-file ${LOG}
--capture-output
interlex.uri_server:app
"
retry='TERM/30/KILL/5'

command_owner="${SVCUSER}:${SVCGROUP}"

depend() {
    if [[ "${BROKER_URL}" == *"@localhost"* ]]; then
        # only run if not using a remote broker
        use celery
    fi
}

configcheck() {
    OOPS=0
    if [ -z "${DB_HOST}" ]; then
        eend 1 "DB_HOST not set in /etc/conf.d/${SVCNAME}"
        OOPS=1
    fi
    if [ -z "${DB_PORT}" ]; then
        eend 1 "DB_PORT not set in /etc/conf.d/${SVCNAME}"
        OOPS=1
    fi
    if [ -z "${DATABASE}" ]; then
        eend 1 "DATABASE not set in /etc/conf.d/${SVCNAME}"
        OOPS=1
    fi

    PGPASS=$(eval echo "~${SVCUSER}/.pgpass")
    if [ ! -f ${PGPASS} ]; then
        eend 1 "${PGPASS} does not exist!"
        OOPS=1
    fi
    if [ $(stat -c %a ${PGPASS}) != 600 ]; then
        eend 1 "${PGPASS} is readable by others! Please chmod 0600 ${PGPASS}"
        OOPS=1
    fi

    if [ ${OOPS} -ne 0 ]; then
        return 1
    fi

    ebegin "Testing database config"
    su - ${SVCUSER} -c "
    psql -U interlex-user \
         -h ${DB_HOST} \
         -p ${DB_PORT} \
         -d ${DATABASE} \
         -c 'SELECT reference_host()'"
    eend $? "Failed to connect to database check /etc/conf.d/${SVCNAME}" || return 1

    checkpath --directory --owner ${command_owner} --mode 0775 "${run_dir}/${SVCNAME}"
    checkpath --directory --owner ${command_owner} --mode 0775 "${LOG_LOC}"
}

start_pre() {
	if [ "${RC_CMD}" != "restart" ]; then
		configcheck || return 1
	fi
}

stop_pre() {
	if [ "${RC_CMD}" = "restart" ]; then
		configcheck || return 1
	fi
}


