schemaspy.t=pgsql
schemaspy.dp=/usr/share/jdbc-postgresql/lib/jdbc-postgresql.jar
schemaspy.host=localhost
schemaspy.port=5432
schemaspy.u=interlex-user
schemaspy.p=
schemaspy.db=interlex
schemaspy.s=interlex
schemaspy.o=/tmp/interlex-schema/
