[Unit]
Description=interlex alt gunicorn daemon
Requires=ilxalt.socket
After=network.target

[Service]
PIDFile=/run/ilxalt/pid
User={:interlex-user}
Group={:interlex-user}
RuntimeDirectory=ilxalt
WorkingDirectory=/var/lib/ilxalt/run
ExecStart=/usr/local/bin/pipenv run interlex-alt
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID
PrivateTmp=true

[Install]
WantedBy=multi-user.target
